  <!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - Microservice Guide</title>
        <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

<!-- jQuery library -->
<script src="/javascripts/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/javascript/bootstrap.min.js"></script>
<link rel="stylesheet"
      href="/stylesheets/default.min.css">
<script src="/javascripts/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
        <div class="col-md-3">
            <h1>MENU</h1>
            <ul>
                <li>
                    <a href="/guide">Genaral guide</a>
                </li>
                <li>
                    <a href="/guide/link1">Link1</a>
                </li>
                 <li>
                    <a href="/guide/link2">Link2</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">

        
 