  <!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - tranvuong.com</title>
        <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

<!-- jQuery library -->
<script src="/javascripts/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<link rel="stylesheet"
      href="/stylesheets/default.min.css">
<script src="/javascripts/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fullwidth">

        
 