<div class="col-md-3">
    <h1>MENU</h1>
    <ul>
        <li>
            <a href="/guide/link1">Link1</a>
        </li>
         <li>
            <a href="/guide/general">General</a>
        </li>
         <li>
            <a href="/guide/link2">Link2</a>
        </li>
    </ul>
</div>
<div class="col-md-9">