<h1 id="genaral-guide">Genaral guide</h1>
<h2 id="when-you-should-use-this">When you should use this.</h2>
<p>This is a Good way to create landing page or document for a project.
Best to fit site that have under 50 pages.<br>If you want a site with a thousand pages you should have a database instead.</p>
<ul>
<li>Best Practice a create all the routes in the MENU first. Then fillful the markdown later.  </li>
</ul>
<h2 id="relative-link">Relative Link</h2>
<p><a href="/guide/link1">Link 1</a><br><a href="/guide/link2">Link 2</a></p>
<h2 id="code">Code</h2>
<pre><code>module.exports = function(app) {
  // visitor
  app.use(&quot;/&quot;, require(&quot;./routes/index&quot;));
  // Guide
  app.use(&quot;/guide&quot;, require(&quot;./routes/guide&quot;));
};

</code></pre><h2 id="image">Image</h2>
<pre><code>![Alt][1]

[1]: /files/test.png &quot;Title&quot;</code></pre><p><img src="/files/test.png" alt="Alt" title="Title"></p>
