<h1 id="how-to-write-a-guide">How to write a Guide</h1>
<h2 id="step-1-write-a-markdown-file">Step 1: Write a markdown file</h2>
<pre><code># /markdown/guide/link1.md
# This is link1</code></pre><h2 id="step-2-put-link1-in-menu">Step 2: Put link1 in MENU</h2>
<pre><code>// views/menu/guide.handlebars
 &lt;li&gt;
    &lt;a href=&quot;/guide/link1&quot;&gt;Link1&lt;/a&gt;
&lt;/li&gt;</code></pre><p>That&#39;s it.</p>
